[submodule "trabalho-01-pig-dice-joao-vitor-ferreira-1"]
    path = trabalho-01-pig-dice-joao-vitor-ferreira-1
    url = https://github.com/selan-active-classes/trabalho-01-pig-dice-joao-vitor-ferreira-1.git